@{
    ViewBag.Title = "Index";
}

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12" id="replacetarget">
        @{ Html.RenderAction("IndexList", "Addresses"); }
    </div>
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

}